.sidebar 
{
    background-color: #ffffff !important;
}

.menu-item 
{
color:black !important;
}

#main-menu .menu a
{
    color: black !important;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2em;
}

#main-menu .menu .menu-item.active a span
{
    color: white !important;
    text-decoration: none;
    background-color: #1A4B91;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
}

.fas.fa-search.content-search-icon
{
    color: white;
}


.action-new
{
background-color: #1A4B91;
}

.action-saveAndReturn
{
background-color: #1A4B91 !important;
}

.btn-success
{
background-color: #1A4B91 !important;
}

.action-edit
{
background-color: #1A4B91 !important;
color: #ffffff !important;
}

.content-top
{
    background-color: #1A4B91 !important;
}

.content-top .content-search .content-search-label input.is-blank
{
    background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
	.logo
    {
        max-width:100% !important;
    }
}

@media only screen and (min-width: 600px) {
	.logo
    {
        max-width:100% !important;
    }
}

.responsive-header 
{
    background-color: #7DA0CD;
}

.user-menu-wrapper .user-details .user-name
{
    color: rgb(255, 255, 255);
}

.description
{
    background-color: #1A4B91 !important;
    color: #ffffff !important;
    font-size: 1.2em !important;
}
.kommentar
{
    background-color: #1A4B91 !important;
    color: #ffffff !important;
    font-size: 1.2em !important;
}
.kommentar_new_box
{
    background-color: #1A4B91 !important;
    color: #ffffff !important;
    font-size: 1.2em !important;
    
}
.text_kommenar
{
    background-color: #1A4B91 !important;
    color: #ffffff !important;
    
}

.text_kommentar_new_text
{
    background-color: #1A4B91 !important;
    color: #ffffff !important;
    size: 20em;
}

.page-link
{
background-color: #1A4B91 !important;
color: #ffffff !important;
}


