{% extends 'base.html.twig' %}

{% block title %}
    {{APP_NAME}} - Startseite
{% endblock %}

{% block body %}
 

<div class="example-wrapper">
    <center>
        <h3> {{ APP_NAME }} </h3>
	tttt
    </center>
</div>
{% endblock %}
