{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Profil bearbeiten
{% endblock %}

{% block content_title %}
    Profil bearbeiten
{% endblock %}

{% block page_actions %}
    {# <a class="btn btn-primary" href="...">Some Action</a> #}
{% endblock %}

{% block main %}
    {# //TODO schick machen (View ProfilController) #}
    {% if success is defined %}
        {% if success %}
        <div class="alert alert-success">
            Gespeichert.
        </div>
        {% else %}
            <div class="alert alert-danger">
                Fehlgeschlagen
            </div>
        {% endif %}
    {% endif %}

    {{ form (userForm) }}
{% endblock %}