{# Dashboard Controller #}
{# https://github.com/EasyCorp/EasyAdminBundle/blob/master/doc/dashboards.rst #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Home
{% endblock %}

{% block content_title %}
    Home
{% endblock %}

{% block page_actions %}
    {# <a class="btn btn-primary" href="...">Some Action</a> #}
{% endblock %}

{% block main %}

    <hr/>
      <h1>Willkommen auf Ihrem Dashboard für HintHub!</h1>
        <h2>Meine Fehlermeldungen</h2>

<div class="container border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Offene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>"Anzahl"</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Geschlossene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>"Anzahl"</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Wartende Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>"Anzahl"</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Eskalierte Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>"Anzahl"</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            
                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script src=
                "https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
                <link
	                rel="stylesheet"
	                href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css"/>
                <link
	                rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	                type="text/css"/>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
                </script>

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
                </script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
                </script>

            <style>
	            body {
	                text-align: left;
	                color: green;
	                }
	
	            
            </style>
            <body>
	            <div id="donut-chart"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			                ["Offen", 2],
			                ["Wartend", 4],
			                ["Geschlossen", 3],
                            ["Eskaliert", 4]
		                ],
		                type: "donut",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#donut-chart",
	                });
	            </script>
            </body>
        
        </div>
    </div>
</div>
    
    
   

    
        


   

    

   

 





       

    {# <table class="datagrid">
        <thead>
            <tr>
                <td>Some Column</td>
                <td>Another Column</td>
            </tr>
        </thead>
        <tbody>
            {% for data in my_own_data %}
                <tr>
                    <td>{{ data.someColumn }}</td>
                    <td>{{ data.anotherColumn }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> #}
{% endblock %}