{# Dashboard Controller #}
{# https://github.com/EasyCorp/EasyAdminBundle/blob/master/doc/dashboards.rst #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Home
{% endblock %}

{% block content_title %}
    Home
{% endblock %}

{% block page_actions %}
    {# <a class="btn btn-primary" href="...">Some Action</a> #}
{% endblock %}

{% block main %}
    <hr/>
    <h2>Willkommen auf Ihrem Dashboard für HintHub!</h2>
    {{isExtern}}
    {# <table class="datagrid">
        <thead>
            <tr>
                <td>Some Column</td>
                <td>Another Column</td>
            </tr>
        </thead>
        <tbody>
            {% for data in my_own_data %}
                <tr>
                    <td>{{ data.someColumn }}</td>
                    <td>{{ data.anotherColumn }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> #}
{% endblock %}